/LegacySgConnector.properties
/PL_DEV.configuration.properties
/PL_PRD.configuration.properties
/PL_SIT.configuration.properties
/PL_UAT.configuration.properties
/SG.properties
/SGConnector.properties
/Struts-Layout.properties
/access - Copy.xml
/access.xml
/com/
/displaytag.properties
/log4j_LegacySGClient.properties
/ods.properties
/pl.log.properties
/sgclient.xsd
/sgclient.xsx
